/* ================ FONTS =====================*/
.roboto {
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.montserrat {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.droid {
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* ================ NAVBAR =====================*/
.navbar-brand {
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 26px;
}
.nav-link {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
  opacity: 0.75;
  float: left;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-link:after {
  transition: width 0.5s ease, background-color 0.5s ease, left 0.5s ease;
}
.nav-link:hover:after {
  width: 100%;
  left: 0;
  background: #fff;
}
.nav-link:hover {
  opacity: 1;
}
.navbar {
  transition: all 0.4s;
}

.navbar .nav-link {
  color: #fff;
}
.navbar-brand {
  color: #fff;
}

.bar1, .bar2, .bar3{
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Change navbar styling on scroll */
.navbar.active {
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #555;
}
.navbar.active .nav-link:after {
  transition: width 0.5s ease, background-color 0.5s ease, left 0.5s ease;
}
.navbar.active .nav-link:hover:after {
  width: 100%;
  left: 0;
  background: #555;
}
.nav-link:hover {
  opacity: 1;
}
.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}

/* ================ HEADER =====================*/
.jumbotron {
  padding-top: 18.5rem;
  padding-bottom: 12.5rem;
  color: #fff;
  background-image: url("../image/bayusaurus.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
.header-heading {
  font-size: 60px;
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.header-subheading {
  font-size: 40px;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* ================ SECTION TEXT =====================*/
.section-heading{
  font-weight: bold;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.section-subheading {
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* ================ ABOUT ME =====================*/
.card-photo-profile{
  background-image: url("../image/me.png");
  min-height: 500px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
.card-photo-profile::after{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(27, 26, 26 , 0.5);
	position: absolute;
	bottom: 0;
  z-index: 2;
  margin-left: -15px;
}
.card-photo-profile:hover::after{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(27, 26, 26 , 0);
	position: absolute;
	bottom: 0;
  z-index: 2;
  margin-left: -15px;
}


/* ================ UTILITY=====================*/
.btn {
  font-size: 20px;
}
.bg-kuning {
  background-color: #ece98e;
}
.btn-kuning {
  background-color: #ece98e;
}
.btn-kuning:hover {
  background-color: #f0ad4e;
}
.text-kuning {
  color: #ece98e;
}
.text-kuning:hover {
  color: #f0ad4e;
}

.bg-biru {
  background-color: #9fd2e5;
}
.btn-biru {
  background-color: #9fd2e5;
}
.btn-biru:hover {
  background-color: #0275d8;
}
.text-biru {
  color: #9fd2e5;
}
.text-biru:hover {
  color: #0275d8;
}
hr{
  border : 1px solid white;
}


/* Change navbar styling on large viewports */
@media (min-width: 992px) {
  .nav-link:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 0;
    background: transparent;
  }
}
/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  /* ================ NAVBAR =====================*/
  .navbar {
    background: #fff;
  }
  .navbar .navbar-brand,
  .navbar .nav-link {
    text-align: center;
    color: #555;
  }
  .jumbotron {
    padding-top: 11rem;
    padding-bottom: 8rem;
    background-image: url("../image/bayusaurus.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }
  .header-heading {
    font-size: 40px;
    font-style: italic;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  .header-subheading {
    font-size: 30px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}
